.main__opportunities {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}

.tab-control {
  display: flex;
  justify-content: space-between;
}

.tab-control__item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 111px;
}

.tab-control__link {
  color: var(--primary);
  background: var(--tab-priamry);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "NT Somic Bold";
  font-size: 26px;
  max-width: 100%;
  text-align: center;
}
.tab-control__link--active {
  color: var(--black);
  background: var(--tab-active);
}

.tab-content {
  display: none;
}

.main__opportunities-description {
  display: flex;
  justify-content: space-between;
}

.tab-content--active {
  display: block;
  background: var(--tab-active);
  padding: 60px 45px;
}
