.testimonials__inner {
  margin-top: 40px;
  background: var(--md-dark);
  color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 540px;
  width: 100%;
  border-radius: 30px;
}
